* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #f8f9fa;
}

.active {
  background: #fff;
  font-weight: 500;
}

.active svg {
  fill: #222;
}

hr {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  margin: 10px auto 20px;
  width: 100%;
}
